@charset "UTF-8";

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ul,
ol {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

em,
dfn,
i {
  font-style: normal;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: none;
}

input,
select {
  vertical-align: middle;
}

input {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

input[type="text"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type="text"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-results-button, input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 300;
  src: url("//openimage.interpark.com/.fonts/NotoSansKR/2350.abv2/hinted/NotoSansKR-Light.eot");
  src: local(※), url("//openimage.interpark.com/.fonts/NotoSansKR/2350.abv2/hinted/NotoSansKR-Light.woff2") format("woff2"), url("//openimage.interpark.com/.fonts/NotoSansKR/2350.abv2/hinted/NotoSansKR-Light.woff") format("woff"), url("//openimage.interpark.com/.fonts/NotoSansKR/2350.abv2/hinted/NotoSansKR-Light.otf") format("opentype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: url("//openimage.interpark.com/.fonts/NotoSansKR/2350.abv2/hinted/NotoSansKR-Regular.eot");
  src: local(※), url("//openimage.interpark.com/.fonts/NotoSansKR/2350.abv2/hinted/NotoSansKR-Regular.woff2") format("woff2"), url("//openimage.interpark.com/.fonts/NotoSansKR/2350.abv2/hinted/NotoSansKR-Regular.woff") format("woff"), url("//openimage.interpark.com/.fonts/NotoSansKR/2350.abv2/hinted/NotoSansKR-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500;
  src: url("//openimage.interpark.com/.fonts/NotoSansKR/2350.abv2/hinted/NotoSansKR-Medium.eot");
  src: local(※), url("//openimage.interpark.com/.fonts/NotoSansKR/2350.abv2/hinted/NotoSansKR-Medium.woff2") format("woff2"), url("//openimage.interpark.com/.fonts/NotoSansKR/2350.abv2/hinted/NotoSansKR-Medium.woff") format("woff"), url("//openimage.interpark.com/.fonts/NotoSansKR/2350.abv2/hinted/NotoSansKR-Medium.otf") format("opentype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  src: url("//openimage.interpark.com/.fonts/NotoSansKR/2350.abv2/hinted/NotoSansKR-Bold.eot");
  src: local(※), url("//openimage.interpark.com/.fonts/NotoSansKR/2350.abv2/hinted/NotoSansKR-Bold.woff2") format("woff2"), url("//openimage.interpark.com/.fonts/NotoSansKR/2350.abv2/hinted/NotoSansKR-Bold.woff") format("woff"), url("//openimage.interpark.com/.fonts/NotoSansKR/2350.abv2/hinted/NotoSansKR-Bold.otf") format("opentype");
}

/* gnb변경 ver090601/main.css 같이변경*/
#wrapBody_sp {
  height: 125px;
  background: url("//openimage.interpark.com/tourpark/tour_ui/common/gateway/bg_gnbnew.gif") repeat-x center 95px;
  text-align: center;
}

#wrapBody_sp .topLinArea {
  background-color: #ededed;
  height: 16px;
  padding-top: 4px;
}

#topnav_new {
  text-align: left;
  width: 980px;
  margin: 0 auto;
  position: relative;
}

#topnav_new .ciarea00 {
  position: absolute;
  top: 13px;
  z-index: 1;
}

/* GNB link Start */
.gnb_link {
  width: 980px;
  margin: 0 auto;
  z-index: 1000;
  text-align: center;
}

.gnb_link li {
  float: left;
  padding: 0 8px 0 6px;
  font: normal 11px 돋움;
  letter-spacing: -1px;
  color: #898989;
  background: url("//openimage.interpark.com/tourpark/tour_ui/common/gateway/gnb_line00.gif") no-repeat right top;
}

.gnb_link li.first {
  padding-left: 0;
}

.gnb_link li.last {
  background: none;
  padding-right: 0;
}

.gnb_link li a {
  font-size: 11px;
  color: #898989;
}

.gnb_link li a:hover {
  color: #bd4141;
}

.gnb_link li.mypg {
  position: relative;
  padding: 0 18px 0 5px;
  background: url("//openimage.interpark.com/tourpark/tour_ui/common/gateway/gnb_openM00.gif") no-repeat right 0;
  z-index: 1000;
}

.gnb_link li.mypg a {
  color: #898989;
}

.gnb_link li.mypg a:hover {
  color: #bd4141;
}

.gnb_link .mypgsub {
  position: absolute;
  left: 0;
  top: 0;
  margin: 13px 0 0 -14px;
  width: 90px;
  height: 65px;
  z-index: 1000;
}

.gnb_link .mypgsub .top {
  width: 90px;
  height: 5px;
  background: url("//openimage.interpark.com/tourpark/tour_ui/common/gateway/bg_layer_top.png") no-repeat left top;
  _background-image: none;
  font-size: 0;
  line-height: 0;
}

.gnb_link .mypgsub .mid {
  width: 75px;
  background: url("//openimage.interpark.com/tourpark/tour_ui/common/gateway/bg_layer_mid.png") repeat-y left top;
  _background-image: none;
  font-size: 0;
  line-height: 0;
  padding: 0 7px 0 8px;
}

.gnb_link .mypgsub .btm {
  width: 90px;
  height: 5px;
  background: url("//openimage.interpark.com/tourpark/tour_ui/common/gateway/bg_layer_btm.png") no-repeat left top;
  _background-image: none;
  font-size: 0;
  line-height: 0;
}

.gnb_link .mypgsub .mid a:hover {
  color: #bd4141;
}

.gnb_link .mypgsub dl {
  position: relative;
}

.gnb_link .mypgsub dd {
  text-align: left;
  padding: 3px 0 0 5px;
  width: 70px;
  height: 14px;
  background: url("//openimage.interpark.com/tourpark/tour_ui/common/gateway/bl_square_dot.gif") no-repeat left 8px;
}

.gnb_link .mypgsub dd a {
  font: 11px dotum;
  color: #7f7f7f;
}

.gnb_link .mypgsub dd a:hover {
  font: 11px dotum;
  color: #009938;
}

.gnb_link .gnlink00 {
  float: right;
  margin-right: 92px;
  _position: absolute;
  _margin-right: 92px;
}

.gnb_link .gnlink00 li {
  letter-spacing: 0;
}

/* Left 큰메뉴 영역 Start */
.gnbArea_Left ul.category_link {
  position: absolute;
  top: 77px;
  left: 38px;
}

.gnbArea_Left ul.category_link li {
  float: left;
  height: 28px;
}

.gnbArea_Left ul.category_link li.line {
  float: left;
  margin-top: 7px;
  margin-left: 4px;
  width: 9px;
  height: 12px;
  background: url("//openimage.interpark.com/tourpark/tour_ui/common/gateway/corner_link_line.png") no-repeat left top;
  _background-image: none;
  font-size: 0;
  line-height: 0;
}

.gnbArea_Left ul.category_link li.menu1 {
  padding-left: 0;
}

.gnbArea_Left ul.category_link li.menu2 {
  padding-left: 0;
}

.gnbArea_Left ul.category_link li.menu3 {
  padding-left: 0;
  background: none;
}

.gnbArea_Left00 ul.category_link {
  position: absolute;
  top: 77px;
  left: 20px;
}

.gnbArea_Left00 ul.category_link li {
  float: left;
  height: 28px;
}

.gnbArea_Left00 ul.category_link li.line {
  float: left;
  margin-top: 7px;
  margin-left: 4px;
  width: 9px;
  height: 12px;
  background: url("//openimage.interpark.com/tourpark/tour_ui/common/gateway/corner_link_line.png") no-repeat left top;
  _background-image: none;
  font-size: 0;
  line-height: 0;
}

.gnbArea_Left00 ul.category_link li.line00 {
  float: left;
  background: url("//openimage.interpark.com/tourpark/tour_ui/common/gateway/gnbLine00.gif") no-repeat left top;
  width: 14px;
}

/* Center 검색영역 Start */
.gnbArea_center #schbar {
  position: absolute;
  top: 13px;
  left: 270px;
  height: 29px;
  width: 335px;
  background: url("//openimage.interpark.com/tourpark/tour_ui/common/gateway/bg_gnb02a.gif") no-repeat 0 top;
  z-index: 2000;
}

.gnbArea_center #scslt {
  position: absolute;
  width: 66px;
  height: 15px;
  margin: 7px 0 0 14px;
  background: url("//openimage.interpark.com/tourpark/tour_ui/common/gateway/bg_schselect09.gif") no-repeat right 0;
  cursor: hand;
  z-index: 2000;
}

.gnbArea_center #scslt .str {
  position: absolute;
  margin: 2px 0 0 0;
  color: #787878;
  word-break: keep-all;
}

.gnbArea_center #scslt .str a {
  text-decoration: none;
}

.gnbArea_center #schwrap {
  position: absolute;
  width: 76px;
  margin: 26px 0 0 3px;
  z-index: 2000;
}

.gnbArea_center #schly_top {
  width: 76px;
  height: 9px;
  font-size: 1px;
  background: url("//openimage.interpark.com/tourpark/tour_ui/common/gateway/bg_sltbox_top09.png") no-repeat;
  _background-image: none;
}

.gnbArea_center #schly_bot {
  width: 76px;
  height: 8px;
  font-size: 1px;
  background: url("//openimage.interpark.com/tourpark/tour_ui/common/gateway/bg_sltbox_bot09.png") no-repeat;
  _background-image: none;
}

.gnbArea_center #schly {
  width: 76px;
  background: url("//openimage.interpark.com/tourpark/tour_ui/common/gateway/bg_sltbox09.gif") no-repeat top;
  z-index: 2000;
  height: 110px;
  _width: 66px;
}

.gnbArea_center #schly li {
  float: left;
  display: inline;
  width: 66px;
  margin-bottom: 1px;
  padding: 3px 0 0 6px;
  margin-left: 4px;
  cursor: hand;
}

.gnbArea_center #schly li.over {
  background: url("//openimage.interpark.com/tourpark/tour_ui/common/gateway/bg_sltthis09.gif") no-repeat;
}

.gnbArea_center #schly li a:hover {
  color: #666;
  text-decoration: none;
}

.gnbArea_center .suggestAr {
  position: absolute;
  width: 247px;
  margin: 26px 0 0 78px;
  z-index: 4500;
}

.gnbArea_center #sugt_top {
  width: 247px;
  height: 8px;
  font-size: 1px;
  background: url("//openimage.interpark.com/tourpark/tour_ui/common/gateway/bg_schbox_top.png") no-repeat;
  _background-image: none;
}

.gnbArea_center #sugt_bot {
  width: 247px;
  height: 11px;
  font-size: 1px;
  background: url("//openimage.interpark.com/tourpark/tour_ui/common/gateway/bg_schbox_bot.png") no-repeat;
  _background-image: none;
}

.gnbArea_center #sugt {
  width: 247px;
  background: url("//openimage.interpark.com/tourpark/tour_ui/common/gateway/bg_schbox.gif") repeat-y top;
  z-index: 1;
}

.gnbArea_center #sugt .tit {
  display: block;
  margin: 0 6px;
  padding-left: 4px;
  height: 21px;
  background: url("//openimage.interpark.com/tourpark/tour_ui/common/gateway/bg_tbsugst.gif") no-repeat left 16px;
  background-color: #fff;
}

.gnbArea_center #sugt .btn {
  position: absolute;
  margin-top: -22px;
  width: 236px;
  text-align: right;
}

.gnbArea_center #sugt .btn img {
  margin-left: 3px;
  cursor: hand;
}

.gnbArea_center #sugt .liSugst {
  margin: 1px 0 0 13px;
  width: 221px;
}

.gnbArea_center #sugt .liSugst li {
  padding: 3px 0 0 4px;
  _height: 20px;
  height: 17px;
  cursor: hand;
}

.gnbArea_center #sugt .liSugst li strong {
  color: #c55f80;
  font-weight: normal;
}

.gnbArea_center #sugt .liSugst li.on {
  background: url("//openimage.interpark.com/tourpark/tour_ui/common/gateway/bg_sugst_on.gif") no-repeat left top;
}

.gnbArea_center #scip {
  position: absolute;
  top: 6px;
  left: 86px;
  width: 247px;
  height: 18px;
}

.gnbArea_center #scip input.scinp {
  position: absolute;
  width: 230px;
  height: 17px;
  padding: 3px 0 0 5px;
  border: 0;
  background-color: #fff;
  color: #666;
  font-weight: bold;
  letter-spacing: -1px;
}

.gnbArea_center #scbt {
  position: absolute;
  top: 0;
  left: 338px;
  width: 41px;
  height: 18px;
}

.gnbArea_center .addMenu {
  width: 675px;
  position: absolute;
  z-index: 1500;
  top: 49px;
}

.gnbArea_center .addMenu div {
  right: 0;
  position: absolute;
}

.gnbArea_center .addMenu00 {
  width: 66px;
  position: absolute;
  z-index: 1;
  top: 67px;
}

.gnbArea_center .addMenu00 div {
  right: 0;
  position: absolute;
}

.gnbArea_center .addMenu00 #iconNew {
  width: 32px;
  height: 17px;
  font-size: 1px;
  background: url("//openimage.interpark.com/tourpark/tour_ui/common/gateway/newicon.png") no-repeat;
  _background-image: none;
}

.gnbArea_center .gnb_menu {
  position: absolute;
  top: 55px;
  left: 195px;
  width: 441px;
  height: 50px;
  z-index: 50;
}

:root .gnbArea_center .gnb_menu {
  position: absolute;
  top: 55px;
  left: 195px;
  width: 441px;
  height: 50px;
  z-index: 0;
}

.gnbArea_center .gnb_menu00 {
  position: absolute;
  top: 55px;
  left: 140px;
  width: 594px;
  height: 50px;
  z-index: 50;
}

:root .gnbArea_center .gnb_menu00 {
  position: absolute;
  top: 55px;
  left: 140px;
  width: 594px;
  height: 50px;
  z-index: 0;
}

.gnbArea_center .hotTxT {
  /*핫클릭 100205 */
  position: absolute;
  z-index: 1800;
  top: 48px;
  left: 290px;
  width: 600px;
}

.gnbArea_center .hotTxT ul li {
  background: url("//openimage.interpark.com/tourpark/tour_ui/common/gateway/gnb_bar.gif") no-repeat right;
  float: left;
  padding: 0 10px 0 4px;
}

.gnbArea_center .hotTxT ul li a {
  font-size: 11px;
  letter-spacing: -1px;
  color: #4f4f4f;
  float: left;
}

.gnbArea_center .hotTxT ul li a:hover {
  text-decoration: underline;
}

.gnbArea_center .hotTxT ul li.end {
  background: none;
  float: left;
}

/*우측 코너링크영역 Start */
.gnbArea_right {
  float: right;
}

.gnbArea_right .helloBn00 {
  position: absolute;
  top: 7px;
  right: 0;
  margin-right: 92px;
  z-index: 1000;
  width: 150px;
}

.gnbArea_right .helloBn00 .Btn00 {
  position: absolute;
  right: 0;
  top: 3px;
  margin-right: 0;
  z-index: 2000;
}

.gnbArea_right .helloBn00 .Btn01 {
  position: absolute;
  right: 0;
  top: 28px;
  margin-right: 0;
  z-index: 2000;
}

.gnbArea_right ul.service_link {
  position: absolute;
  top: 77px;
  right: 0;
  margin-right: 92px;
}

.gnbArea_right ul.service_link li {
  float: left;
  height: 28px;
}

.gnbArea_right ul.service_link li.line {
  float: left;
  margin-top: 7px;
  width: 8px;
  height: 12px;
  background: url("//openimage.interpark.com/tourpark/tour_ui/common/gateway/corner_link_line.png") no-repeat left top;
  _background-image: none;
  font-size: 0;
  line-height: 0;
}

.gnbArea_right ul.service_link li.line00 {
  float: left;
  background: url("//openimage.interpark.com/tourpark/tour_ui/common/gateway/gnbLine00.gif") no-repeat left top;
  width: 14px;
}

.gnbArea_right ul.service_link li.menu1 {
  padding-left: 0;
}

.gnbArea_right ul.service_link li.menu2 {
  padding-left: 0;
}

.gnbArea_right ul.service_link li.menu3 {
  padding-left: 0;
  background: none;
}

.gnbArea_right .rightBn00 {
  top: 1px;
  right: 0;
  position: absolute;
}

.gnbArea_right li {
  float: left;
  padding: 0 6px;
  margin-top: 10px;
  letter-spacing: -1px;
  line-height: 1.2;
  font-size: 11px;
  font-family: "돋움", Dotum, Arial, Helvetica, sans-serif;
  background: url("//openimage.interpark.com/tourpark/tour_ui/common/gateway/bar02.gif") no-repeat left 1px;
}

.gnbArea_right li.first {
  background: none;
}

.gnbArea_right li a {
  font-size: 11px;
}

.gnbArea_right li a:hover {
  text-decoration: none;
}

.gnbArea_right li.bul {
  position: relative;
}

.gnbArea_right li.bul a {
  padding-right: 13px;
  background: url("//openimage.interpark.com/tourpark/tour_ui/common/gateway/icon_arrow05.gif") no-repeat right top;
}

.gnbArea_right li.point a {
  color: #000 !important;
}

.gnbArea_right li.logon {
  position: relative;
}

.gnbArea_right .logon a strong {
  color: #f12c2c;
  padding-right: 13px;
  background: url("//openimage.interpark.com/tourpark/tour_ui/common/gateway/icon_arrow05.gif") no-repeat right 1px;
}

.gnbArea_right .logon-on a strong {
  color: #f86f00;
  padding-right: 13px;
  background: url("//openimage.interpark.com/tourpark/tour_ui/common/gateway/icon_arrow05.gif") no-repeat right 1px;
}

.gnbArea_right .customersub,
.gnbArea_right .mypgsub {
  position: absolute;
  top: 13px;
  left: 0;
  margin: 0 0 0 -18px;
}

.gnbArea_right .customersub .list,
.gnbArea_right .mypgsub .list {
  overflow: hidden;
  width: 89px;
  margin: 0;
  padding: 3px 5px 5px 5px;
  border: 2px solid #e38989;
  background: #fff;
}

.gnbArea_right .customersub li,
.gnbArea_right .mypgsub li {
  position: relative;
  float: none;
  width: auto;
  height: auto;
  text-align: left;
  background: none;
  padding: 0 0 0 5px;
  margin: 2px 0 0 0;
}

.gnbArea_right .customersub li:before,
.gnbArea_right .mypgsub li:before {
  position: absolute;
  display: block;
  content: "";
  top: 6px;
  left: 0;
  width: 2px;
  height: 2px;
  background: #000;
}

.gnbArea_right .customersub li a,
.gnbArea_right .mypgsub li a {
  font: 11px dotum;
  letter-spacing: -1px;
  background: none;
  padding: 0;
}

.gnbArea_right .customersub li a:hover,
.gnbArea_right .mypgsub li a:hover {
  text-decoration: underline;
  color: #e35144;
}

/* 롤오버 */
/***********GNB v100525 ***********/
a.rollover img {
  display: inline;
}

a.rollover img.over {
  display: none;
}

a.rollover img.on {
  display: none;
}

a.rollover:hover {
  border: 0 none;
  cursor: pointer;
}

a.rollover:hover img {
  display: none;
}

a.rollover:hover img.over {
  display: inline;
}

a.rollover:hover img.on {
  display: none;
}

/* GNB S */
#wrapBody_sp00 {
  text-align: center;
}

#wrapBody_sp00 img {
  vertical-align: top;
}

#wrapBody_wel {
  height: 108px;
}

#topnav_new00 {
  text-align: left;
  width: 980px;
  margin: 0 auto;
  position: relative;
}

#topnav_new00 .gnbArea_left {
  float: left;
  width: 475px;
  margin-top: 0;
  text-align: left;
  vertical-align: top;
}

#topnav_new00 .gnbArea_left li {
  color: #ccc;
  float: left;
  margin-top: 5px;
  margin-left: 6px;
  padding-right: 10px;
  background: url("//openimage.interpark.com/tourpark/tour_ui/common/gateway/bl_gray.gif") no-repeat right 1px;
  letter-spacing: -2px !important;
}

:root #topnav_new00 .gnbArea_left li a:link, #topnav_new00 .gnbArea_left li a:link, #topnav_new00 .gnbArea_left li a:visited, #topnav_new00 .gnbArea_left li a:active {
  text-decoration: none;
  font-size: 11px;
  color: #7f7f7f;
  padding-right: 0;
}

:root #topnav_new00 .gnbArea_left li a:hover, #topnav_new00 .gnbArea_left li a:hover {
  text-decoration: underline;
  font-size: 11px;
  color: #7f7f7f;
}

#topnav_new00 .gnbArea_left .first {
  margin-left: 0;
}

#topnav_new00 .gnbArea_left .last {
  background: none;
}

#topnav_new00 .gnbArea_left img {
  margin: 3px 8px 0 2px;
}

#topnav_new00 .gnbArea_right00 {
  float: right;
  width: 490px;
  text-align: right;
}

#topnav_new00Btm {
  text-align: left;
  width: 980px;
  margin: 0 auto;
  position: relative;
  z-index: 10;
}

.gnbArea_center00 {
  clear: both;
  padding-top: 5px;
}

.gnbArea_center00 h1 {
  float: left;
  width: 255px;
  margin: 21px 0 0 0;
}

.gnbArea_center00 .search {
  position: relative;
  float: left;
  margin-top: 6px;
}

.gnbArea_center00 .search .box {
  float: left;
  width: 350px;
  height: 28px;
  background: #fef9e6;
  border: 2px solid #c10100;
}

:root .gnbArea_center00 .search .box {
  width: 346px;
  height: 28px;
}

.gnbArea_center00 .search .box input {
  width: 275px;
  *width: 273px;
  margin: 7px 2px 0 5px;
  color: #b74545;
  font: bold 12px 돋움;
  letter-spacing: 0;
  border: 0;
  background: #fef9e6;
}

.gnbArea_center00 .search .box div {
  float: left;
  width: 27px;
  height: 24px;
  margin: 2px 0 0 0;
}

.gnbArea_center00 .search .box img {
  position: absolute;
  margin: 10px 0 0 10px;
}

.gnbArea_center00 .search .btn {
  float: left;
  margin-left: 6px;
}

.gnbArea_center00 .search .searchList {
  position: absolute;
  left: 0;
  margin: 31px 0 0 1px;
  background: #fff;
  border-left: 1px solid #989898;
  border-right: 1px solid #989898;
  border-bottom: 1px solid #989898;
}

.gnbArea_center00 .search .searchList .srchBox {
  width: 319px;
}

:root .gnbArea_center00 .search .searchList .srchBox {
  width: 321px;
}

.gnbArea_center00 .search .searchList .srchBoxNone {
  margin: 14px 0 12px 12px;
}

.gnbArea_center00 .search .searchList ul {
  width: 319px;
  margin: 3px 0 0 1px;
  overflow-x: hidden;
}

.gnbArea_center00 .search .searchList ul.srchScroll_End {
  border-top: 1px solid #e2e2e2;
  padding-top: 2px;
}

.gnbArea_center00 .search .searchList li {
  width: 100%;
  margin-right: 1px;
  padding: 5px 0 2px 10px;
  text-align: left;
}

.gnbArea_center00 .search .searchList li.on {
  background: #f6f6f6;
}

.gnbArea_center00 .search .searchList li span {
  color: #b74545;
}

.gnbArea_center00 .search .searchList a li {
  text-decoration: none;
  cursor: pointer;
}

.gnbArea_center00 .search .searchList .actWord {
  clear: both;
  width: 321px;
  height: 23px;
  margin-top: 3px;
  border-top: 1px solid #e2e2e2;
  background: #f3f3f3;
}

.gnbArea_center00 .search .searchList .actWord span {
  color: #858586;
  font-size: 11px;
}

.gnbArea_center00 .search .searchList .actWord span.first {
  float: left;
  display: inline;
  margin: 6px 0 0 11px;
}

.gnbArea_center00 .search .searchList .actWord span.last {
  float: right;
  display: inline;
  margin: 6px 10px 0 0;
  position: relative;
}

.gnbArea_center00 .search .searchList .actWord span.last .help_layer {
  position: absolute;
  top: -24px;
  left: -160px;
  display: none;
}

.gnbArea_center00 #scslt {
  position: absolute;
  width: 35px;
  height: 15px;
  margin: 7px 0 0 10px;
  background: url("//openimage.interpark.com/tourpark/tour_ui/common/gateway/bg_schselect10.gif") no-repeat right 5px;
  cursor: hand;
  z-index: 2000;
}

.gnbArea_center00 #scslt .str {
  position: absolute;
  margin: 2px 0 0 0;
  color: #787878;
  word-break: keep-all;
  letter-spacing: -1px;
}

.gnbArea_center00 #scslt .str a {
  text-decoration: none;
}

.gnbArea_center00 .hotTxT {
  /*핫클릭 100205 */
  /* mod */
  position: absolute;
  top: 53px;
  left: 255px;
  width: 600px;
}

.gnbArea_center00 .hotTxT .hotClick {
  padding-right: 5px;
}

.gnbArea_center00 .hotTxT h2 {
  float: left;
  position: relative;
  top: -1px;
  padding-right: 6px;
}

.gnbArea_center00 .hotTxT ul {
  float: left;
  margin-left: -5px;
  margin-top: 1px;
}

.gnbArea_center00 .hotTxT ul li {
  float: left;
  padding: 0 10px;
  font-size: 0;
  background: url("//openimage.interpark.com/tourpark/tour_ui/common/gateway/bar.gif") no-repeat right 0;
}

.gnbArea_center00 .hotTxT ul li.end {
  background: none;
}

.gnbArea_right00 {
  /*우측 코너링크영역 Start */
}

.gnbArea_right00 .banner_line {
  position: absolute;
  background: url("//openimage.interpark.com/tourpark/tour_ui/common/gateway/banner_line.gif") no-repeat 0 11px;
  width: 2px;
  height: 40px;
  top: 32px;
  left: 865px;
}

.gnbArea_right00 .topBanner {
  position: absolute;
  top: 5px;
  right: 0;
  width: 268px;
  height: 56px;
}

.gnbArea_right00 .topBanner .helloBn00 {
  position: absolute;
  top: 5px;
  right: 0;
  margin-right: 105px;
  width: 150px;
}

.gnbArea_right00 .topBanner .helloBn00 .Btn00 {
  position: absolute;
  right: 0;
  top: 3px;
  margin-right: 0;
}

.gnbArea_right00 .topBanner .helloBn00 .Btn01 {
  position: absolute;
  right: 0;
  top: 28px;
  margin-right: 0;
}

.gnbArea_right00 .topBanner .rightBn00 {
  top: 1px;
  right: 0;
  position: absolute;
}

#gnbArea_link ul {
  float: right;
}

#gnbArea_link li {
  float: left;
  margin-top: 5px;
  margin-left: 6px;
  padding-right: 6px;
  background: url("//openimage.interpark.com/tourpark/tour_ui/common/gateway/bl_gray.gif") no-repeat right 1px;
  font: 11px Dotum normal;
  color: #696969;
  letter-spacing: -1;
}

#gnbArea_link li.last {
  background: none;
  padding-right: 0;
}

#gnbArea_link li.last_btn {
  background: none;
  margin-top: 0;
  padding-right: 0;
  position: relative;
  z-index: 11;
  letter-spacing: -1px;
}

:root #gnbArea_link li a:link,
:root #gnbArea_link li a:visited,
:root #gnbArea_link li a:active, #gnbArea_link li a:link, #gnbArea_link li a:visited, #gnbArea_link li a:active {
  text-decoration: none;
  font: 11px Dotum normal;
  color: #696969;
  letter-spacing: -1px;
}

:root #gnbArea_link li a:hover, #gnbArea_link li a:hover {
  text-decoration: underline;
  font: 11px Dotum normal;
  color: #696969;
  letter-spacing: -1px;
}

#gnbArea_link li.mypg {
  position: relative;
  padding: 0 20px 0 0;
  background: url("//openimage.interpark.com/tourpark/tour_ui/common/gateway/bl_mypage.gif") no-repeat right top;
  color: #696969;
  cursor: pointer;
  z-index: 100;
}

#gnbArea_link li.mypg a {
  color: #696969;
}

#gnbArea_link li.mypg a:hover {
  color: #696969;
  text-decoration: none;
}

#gnbArea_link li.customer {
  position: relative;
  padding: 0 15px 0 0;
  background: url("//openimage.interpark.com/tourpark/tour_ui/common/gateway/bl_customer.gif") no-repeat right top;
  color: #696969;
  cursor: pointer;
  z-index: 100;
}

#gnbArea_link li.customer a {
  color: #696969;
}

#gnbArea_link li.customer a:hover {
  color: #696969;
  text-decoration: none;
}

#gnbArea_link .mypgsub {
  position: absolute;
  top: 0;
  left: 0;
  margin: 11px 0 0 -18px;
  _width: 99px;
  _height: 63px;
}

#gnbArea_link .mypgsub .top {
  width: 99px;
  height: 5px;
  background: url("//openimage.interpark.com/tourpark/tour_ui/common/gateway/bg_wel_layerRed_top1.gif") no-repeat left top;
  font-size: 0;
  line-height: 0;
}

#gnbArea_link .mypgsub .mid {
  width: 99px;
  background: url("//openimage.interpark.com/tourpark/tour_ui/common/gateway/bg_wel_layerRed_mid1.gif") repeat-y left top;
  _background-image: none;
  font-size: 0;
  line-height: 0;
}

:root #gnbArea_link .mypgsub .mid {
  width: 99px;
  background: url("//openimage.interpark.com/tourpark/tour_ui/common/gateway/bg_wel_layerRed_mid1.gif") repeat-y left top;
  _background-image: none;
  font-size: 0;
  line-height: 0;
  padding-left: 6px;
}

#gnbArea_link .mypgsub .mid a:hover {
  color: #bd4141;
  text-decoration: underline;
}

#gnbArea_link .mypgsub .btm {
  width: 99px;
  height: 7px;
  background: url("//openimage.interpark.com/tourpark/tour_ui/common/gateway/bg_wel_layerRed_btm1.gif") no-repeat left top;
  _background-image: none;
  font-size: 0;
  line-height: 0;
}

#gnbArea_link .mypgsub dl {
  position: relative;
  z-index: 100;
}

#gnbArea_link .mypgsub dd {
  padding: 3px 0 0 10px;
  width: 99px;
  height: 14px;
  background: url("//openimage.interpark.com/tourpark/tour_ui/common/gateway/bl_square_dot.gif") no-repeat 5px 7px;
  text-align: left;
  letter-spacing: -1;
}

#gnbArea_link .mypgsub dd a:link, #gnbArea_link .mypgsub dd a:visited, #gnbArea_link .mypgsub dd a:active {
  font: 11px dotum;
  color: #7f7f7f;
  letter-spacing: -1px;
}

#gnbArea_link .mypgsub dd a:hover {
  font: 11px dotum;
  color: #bd4141;
  letter-spacing: -1px;
}

#gnbArea_link .customersub {
  position: absolute;
  top: 0;
  left: 0;
  margin: 13px 0 0 -18px;
}

#gnbArea_link .customersub .top {
  width: 90px;
  height: 5px;
  background: url("//openimage.interpark.com/tourpark/tour_ui/common/gateway/bg_wel_layerRed_top.png") no-repeat left top;
  _background-image: none;
  font-size: 0;
  line-height: 0;
}

#gnbArea_link .customersub .mid {
  width: 90px;
  background: url("//openimage.interpark.com/tourpark/tour_ui/common/gateway/bg_wel_layerRed_mid.png") repeat-y left top;
  _background-image: none;
  font-size: 0;
  line-height: 0;
  padding: 0 7px 0 6px;
}

#gnbArea_link .customersub .mid a:hover {
  color: #bd4141;
  text-decoration: underline;
}

#gnbArea_link .customersub .btm {
  width: 90px;
  height: 7px;
  background: url("//openimage.interpark.com/tourpark/tour_ui/common/gateway/bg_wel_layerRed_btm.png") no-repeat left top;
  _background-image: none;
  font-size: 0;
  line-height: 0;
}

#gnbArea_link .customersub dl {
  position: relative;
  z-index: 100;
}

#gnbArea_link .customersub dd {
  padding: 3px 0 0 5px;
  width: 76px;
  height: 14px;
  background: url("//openimage.interpark.com/tourpark/tour_ui/common/gateway/bl_square_dot.gif") no-repeat left 7px;
  text-align: left;
  letter-spacing: -1;
}

#gnbArea_link .customersub dd a:link, #gnbArea_link .customersub dd a:visited, #gnbArea_link .customersub dd a:active {
  font: 11px dotum;
  color: #7f7f7f;
}

#gnbArea_link .customersub dd a:hover {
  font: 11px dotum;
  color: #bd4141;
}

.srchScroll {
  scrollbar-3dlight-color: e0e0e0;
  scrollbar-arrow-color: 7a7a7a;
  scrollbar-base-color: e0e0e0;
  scrollbar-darkshadow-color: fff;
  scrollbar-face-color: fff;
  scrollbar-highlight-color: ffff;
  scrollbar-shadow-color: e0e0e0;
}

/*공통 GN*/
.gateway-wrap {
  position: relative;
  z-index: 89;
  width: 100%;
  height: 32px;
  background: #fff;
  border-bottom: 1px solid #c1c1c1;
}

.gateway-wrap a {
  color: #898989 !important;
  letter-spacing: -1px;
}

.gateway-wrap a:focus {
  outline: -webkit-focus-ring-color auto 5px;
}

.gateway-wrap .gateway-con {
  overflow: visible;
  width: 980px;
  margin: 0 auto;
}

.gateway-wrap .expo {
  display: inline-block;
  margin: 3px 0 0 32px;
}

.gnbArea_left {
  float: left;
}

.gnbArea_left ul {
  height: 33px;
}

.gnbArea_left li {
  float: left;
}

.gnbArea_left li a {
  display: block;
  width: 42px;
  height: 23px;
  padding-top: 10px;
  text-align: center;
  font-size: 0 !important;
  line-height: 0 !important;
  background: url("//openimage.interpark.com/tourpark/tour_ui/common/gateway/gate_txt.gif") no-repeat left top;
}

.gnbArea_left li.home a {
  background-position: left top;
}

.gnbArea_left li.shopping a {
  background-position: -42px top;
}

.gnbArea_left li.book a {
  background-position: -84px top;
}

.gnbArea_left li.ticket a {
  background-position: -126px top;
}

.gnbArea_left li.tour a {
  width: 84px;
  background-position: -168px top;
}

.gnbArea_left li.imarket a {
  width: 62px;
  background-position: -252px top;
}

.gateway-wrap.samsungAlliance .gnbArea_left {
  margin-top: 7px;
}

.gateway-wrap.samsungAlliance #topGateBanner {
  margin-left: 232px;
}

.gateway-wrap.samsungAlliance .gnbArea_right .samsungBenefitsGuide a {
  color: #1e6dd4 !important;
}

.ui-sash-banner {
  overflow: hidden;
  position: relative;
  width: 100%;
  font-size: 0;
  line-height: 0;
  text-align: center;
}

.ui-sash-banner span {
  display: block;
  width: 982px;
  margin: 0 auto;
}

.ui-sash-banner .close {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: 472px;
  width: 17px;
  height: 17px;
  font-size: 0;
  line-height: 0;
  background: #eb4f55;
}

.ui-sash-banner .close.samsungAlliance {
  background-color: #3a6997;
}

.ui-sash-banner .close img {
  margin: 4px 0 0 1px;
  vertical-align: top;
}

#topGateBanner {
  position: absolute;
  top: 0;
  width: 356px;
  margin-left: 272px;
}

.gate-theme-mall #topGateBanner {
  margin-left: 296px;
}

#topGateBanner ul {
  display: table;
  margin: auto;
}

#topGateBanner ul li {
  display: table-cell;
  height: 33px;
  text-align: center;
  vertical-align: middle;
}

#topGateBanner ul li a {
  display: block;
  font-size: 0;
}

.blind {
  position: absolute;
  left: -9999px;
  overflow: hidden;
  width: 1px;
  height: 1px;
}

.skip-nav {
  width: 980px;
  margin: 0 auto;
  font-family: "돋움", Dotum, Arial, Helvetica, sans-serif;
}

:root .skip-nav {
  position: static;
  display: block;
}

.skip-nav a:link,
.skip-nav a {
  z-index: 205;
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.skip-nav a:link:focus, .skip-nav a:link.focus,
.skip-nav a:focus,
.skip-nav a.focus {
  width: 150px;
  height: 33px;
  line-height: 33px;
  font-size: 14px;
  text-align: center;
  color: #fff;
  background: #000;
}

.tour-top-banner {
  overflow: hidden;
  height: 80px;
  font-weight: 300;
  font-size: 0;
  text-align: center;
  border-color: #e8a7ab;
  background: #ffe4d6;
}

.tour-top-banner .banner-wrap {
  position: relative;
  display: inline-block;
  margin: auto;
  border-color: inherit;
}

.tour-top-banner .link-wrap {
  overflow: hidden;
  white-space: nowrap;
  border-color: inherit;
}

.tour-top-banner .banner-link {
  display: inline-block;
  border-left: 1px dashed;
  border-color: inherit;
}

.tour-top-banner .banner-link:first-child {
  border-left: 0;
}

.tour-top-banner .close-btn {
  z-index: 10;
  position: absolute;
  right: 0;
  width: 17px;
  height: 17px;
  padding: 0;
  border: 0;
  background: url("//openimage.interpark.com/tourpark/tour_ui/common/header/top_banner_close.gif") no-repeat;
  text-indent: -9999px;
}

.tour-header {
  height: 152px;
  clear: both;
  background: #fff;
}

.tour-header ::-ms-clear {
  display: none;
}

.tour-header button,
.tour-header a {
  margin: 0;
  padding: 0;
  color: inherit;
  font: inherit;
  font-family: "Noto Sans KR", "Malgun Gothic", "돋움", Dotum, Arial, Helvetica, sans-serif;
  border: 0;
  background: 0;
}

.tour-header button:focus,
.tour-header a:focus {
  outline: -webkit-focus-ring-color auto 5px;
}

.tour-header .search-area {
  position: static;
  width: 980px;
  height: 96px;
  margin: auto;
  padding: 0;
  background: none;
}

.tour-header .search-area .logo-box,
.tour-header .search-area .search-box,
.tour-header .search-area .spot-banner-box,
.tour-header .search-area .banner-box {
  float: left;
}

.tour-header .search-area .logo-box {
  margin-top: 31px;
}

.tour-header .search-area .logo-box .tour {
  float: left;
  width: 66px;
  height: 33px;
  text-indent: -9999px;
  background: url("//openimage.interpark.com/tourpark/tour_ui/common/header/tour_logo.jpg") no-repeat;
}

.tour-header .search-area .logo-box .interpark {
  float: left;
  width: 140px;
  height: 33px;
  text-indent: -9999px;
  background: url("//openimage.interpark.com/tourpark/tour_ui/common/header/interpark_logo.jpg") no-repeat;
}

.tour-header .search-area .search-box {
  position: relative;
  width: 309px;
  height: 40px;
  box-sizing: border-box;
  margin: 28px 40px 0 60px;
  padding: 5px 26px 5px 10px;
  border: 2px solid #e25147;
}

.tour-header .search-area .search-box fieldset {
  height: 100%;
  margin: 0;
  padding: 0;
}

.tour-header .search-area .search-box fieldset .search-wrap {
  display: block;
  height: 100%;
}

.tour-header .search-area .search-box input {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
  line-height: 26px;
  border: 0;
  font-size: 14px;
  font-weight: 500;
  color: #e25147;
  font-family: "Noto Sans KR", "Malgun Gothic", "돋움", Dotum, Arial, Helvetica, sans-serif;
}

.tour-header .search-area .search-box input::-webkit-search-decoration, .tour-header .search-area .search-box input::-webkit-search-cancel-button, .tour-header .search-area .search-box input::-webkit-search-results-button, .tour-header .search-area .search-box input::-webkit-search-results-decoration {
  display: none;
}

.tour-header .search-area .search-box .recent-btn {
  position: absolute;
  right: 7px;
  top: 50%;
  display: block;
  width: 16px;
  height: 16px;
  margin-top: -8px;
  text-indent: -9999px;
}

.tour-header .search-area .search-box .recent-btn.active:before {
  margin-top: -3px;
  border-top: 0;
  border-bottom: 5px solid #e25147;
}

.tour-header .search-area .search-box .recent-btn:before {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 0;
  height: 0;
  margin: -2.5px -4.5px;
  border-top: 5px solid #e25147;
  border-left: 4.5px solid transparent;
  border-right: 4.5px solid transparent;
  content: "";
}

.tour-header .search-area .search-box .search-btn {
  position: absolute;
  top: -2px;
  right: -42px;
  width: 40px;
  height: 40px;
  text-indent: -9999px;
  background: #e25147 url("//openimage.interpark.com/tourpark/tour_ui/common/header/search.png") no-repeat center;
}

.tour-header .search-area .spot-banner-box {
  position: relative;
  margin: 28px 0 0 10px;
  font-size: 0;
}

.tour-header .search-area .spot-banner-box a {
  display: table-cell;
  width: 61px;
  height: 40px;
  box-sizing: border-box;
  padding: 0 5px;
  white-space: nowrap;
  border: 1px solid #e25147;
  border-left: 0;
  text-align: center;
  font-weight: 500;
  line-height: 1.2;
  font-size: 12px;
  color: #e25147;
  vertical-align: middle;
}

.tour-header .search-area .spot-banner-box a:first-child {
  border-left: 1px solid #e25147;
}

.tour-header .search-area .spot-banner-box a .sub {
  display: block;
  color: #898989;
  font-size: 10px;
  font-weight: 400;
}

.tour-header .search-area .spot-banner-box .tooltip {
  position: absolute;
  top: 52px;
  left: 50%;
  min-width: 230px;
  margin-left: -115px;
  padding: 7px 36px 8px 15px;
  box-sizing: border-box;
  border-radius: 5px;
  color: #fff;
  font-size: 12px;
  font-weight: 300;
  font-family: "Noto Sans KR", "Malgun Gothic", "돋움", Dotum, Arial, Helvetica, sans-serif;
  white-space: nowrap;
  background: #333;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.tour-header .search-area .spot-banner-box .tooltip:before {
  content: "";
  position: absolute;
  top: -7px;
  left: 50%;
  width: 13px;
  height: 7px;
  margin-left: -6px;
  background: url("//openimage.interpark.com/tourpark/tour_ui/common/header/tool_tip.png") no-repeat 0 0;
}

.tour-header .search-area .spot-banner-box .tooltip .emph {
  color: #fefb00;
}

.tour-header .search-area .spot-banner-box .tooltip .close {
  overflow: hidden;
  position: absolute;
  top: 9px;
  right: 11px;
  width: 12px;
  height: 12px;
  text-indent: 100%;
  white-space: nowrap;
  background: url("//openimage.interpark.com/tourpark/tour_ui/common/header/tool_btn_close.png") no-repeat 0 0;
  cursor: pointer;
}

.tour-header .search-area .banner-box {
  z-index: 2;
  position: relative;
  overflow: hidden;
  float: right;
  width: 233px;
  height: 100%;
}

.tour-header .search-area .banner-box.doing .switch:before {
  width: 6px;
  height: 7px;
  margin: -3px;
  border: 2px solid #e25147;
  border-top: 0;
  border-bottom: 0;
}

.tour-header .search-area .banner-box li.current a {
  border-color: #e25147;
}

.tour-header .search-area .banner-box li.current img {
  visibility: visible;
}

.tour-header .search-area .banner-box li:first-child a {
  margin-left: 12px;
}

.tour-header .search-area .banner-box .switch {
  position: absolute;
  overflow: hidden;
  width: 16px;
  height: 16px;
  margin: 19px 0 0 80px;
  color: transparent;
}

.tour-header .search-area .banner-box .switch span {
  z-index: -1;
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.tour-header .search-area .banner-box .switch:before {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -3px -2px;
  box-sizing: border-box;
  border-right: 0;
  border-left: 6px solid #e25147;
  border-top: 3.5px solid transparent;
  border-bottom: 3.5px solid transparent;
  content: "";
}

.tour-header .search-area .banner-box a {
  float: left;
  width: 9px;
  height: 9px;
  margin: 23px 0 0 5px;
  border: 2.5px solid #d7d7d7;
  border-radius: 100%;
  box-sizing: border-box;
}

.tour-header .search-area .banner-box img {
  z-index: -1;
  position: absolute;
  top: 10px;
  right: 0;
  width: 100%;
  visibility: hidden;
}

.tour-header .menu-area {
  z-index: 89;
  position: relative;
  min-width: 980px;
  height: 56px;
  text-align: center;
  font-size: 0;
  background: url("//openimage.interpark.com/tourpark/tour_ui/common/header/header_bg.gif") repeat-x;
}

.tour-header .menu-area:before {
  z-index: -1;
  position: absolute;
  right: 0;
  top: 2px;
  width: 50%;
  height: 54px;
  background: #444;
  content: "";
}

.tour-header .menu-area .gnb-box {
  display: inline-block;
  width: 100%;
  font-size: 14px;
  color: #fff;
}

.tour-header .menu-area .gnb-box .gnb-grid {
  position: relative;
  display: table;
  width: 100%;
}

.tour-header .menu-area .gnb-box .gnb-grid dd.dAir, .tour-header .menu-area .gnb-box .gnb-grid dd.dAccommo {
  position: static;
}

.tour-header .menu-area .gnb-box .gnb-grid dd.dAir .sub-menu, .tour-header .menu-area .gnb-box .gnb-grid dd.dAccommo .sub-menu {
  left: 0;
  margin-left: 0 !important;
}

.tour-header .menu-area .gnb-box .gnb-grid dd.oTheme {
  position: static;
}

.tour-header .menu-area .gnb-box .gnb-grid dd.oTheme .sub-menu {
  left: auto !important;
  right: 0;
  margin-left: 0 !important;
}

.tour-header .menu-area .gnb-box .gnb-grid dd.dAir {
  width: 58px;
}

.tour-header .menu-area .gnb-box .gnb-grid dd.dAir .sub-menu {
  margin-left: -200px;
}

.tour-header .menu-area .gnb-box .gnb-grid dd.dAccommo {
  width: 54px;
}

.tour-header .menu-area .gnb-box .gnb-grid dd.dAccommo .sub-menu {
  margin-left: -200px;
}

.tour-header .menu-area .gnb-box .gnb-grid dd.dJeju {
  width: 80px;
}

.tour-header .menu-area .gnb-box .gnb-grid dd.dJeju .sub-menu {
  margin-left: -200px;
}

.tour-header .menu-area .gnb-box .gnb-grid dd.dTravel {
  width: 75px;
}

.tour-header .menu-area .gnb-box .gnb-grid dd.dTravel .sub-menu {
  margin-left: -200px;
}

.tour-header .menu-area .gnb-box .gnb-grid dd.dActivity {
  width: 110px;
}

.tour-header .menu-area .gnb-box .gnb-grid dd.dActivity .sub-menu {
  margin-left: -200px;
}

.tour-header .menu-area .gnb-box .gnb-grid dd.oAir {
  width: 58px;
}

.tour-header .menu-area .gnb-box .gnb-grid dd.oAir .sub-menu {
  margin-left: -200px;
}

.tour-header .menu-area .gnb-box .gnb-grid dd.oHotel {
  width: 54px;
}

.tour-header .menu-area .gnb-box .gnb-grid dd.oHotel .sub-menu {
  margin-left: -200px;
}

.tour-header .menu-area .gnb-box .gnb-grid dd.oPackage {
  width: 70px;
}

.tour-header .menu-area .gnb-box .gnb-grid dd.oPackage .sub-menu {
  margin-left: -200px;
}

.tour-header .menu-area .gnb-box .gnb-grid dd.oFree {
  width: 84px;
}

.tour-header .menu-area .gnb-box .gnb-grid dd.oFree .sub-menu {
  margin-left: -200px;
}

.tour-header .menu-area .gnb-box .gnb-grid dd.oTheme {
  width: 88px;
}

.tour-header .menu-area .gnb-box .gnb-grid dd.oTheme .sub-menu {
  margin-left: -200px;
}

.tour-header .menu-area .gnb-box .gnb-grid dt, .tour-header .menu-area .gnb-box .gnb-grid dd {
  position: relative;
  display: table-cell;
  height: 56px;
  text-align: center;
  vertical-align: middle;
}

.tour-header .menu-area .gnb-box .gnb-grid dt[aria-hidden="true"] {
  position: absolute;
  left: -9999px;
  overflow: hidden;
  display: none;
  width: 1px;
  height: 1px;
}

.tour-header .menu-area .gnb-box .gnb-grid dt h3 {
  width: 40px;
  height: 23px;
  line-height: 20px;
  margin: auto;
  font-weight: 300;
  box-sizing: border-box;
  border-radius: 7px;
  border: 1px solid #ef8a83;
  font-size: 13px;
  font-family: "Noto Sans KR", "Malgun Gothic", "돋움", Dotum, Arial, Helvetica, sans-serif;
  color: #ffd3d0;
  background: none;
}

.tour-header .menu-area .gnb-box .gnb-grid dd.active h4:before {
  visibility: visible;
}

.tour-header .menu-area .gnb-box .gnb-grid dd.active .sub-menu {
  display: block;
}

.tour-header .menu-area .gnb-box .gnb-grid dd[data-alert="true"] h4 a:after {
  visibility: visible;
}

.tour-header .menu-area .gnb-box .gnb-grid dd h4 {
  position: relative;
  height: 56px;
  font-size: 0;
  font-weight: 300;
  background: none;
}

.tour-header .menu-area .gnb-box .gnb-grid dd h4:after {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  content: "";
}

.tour-header .menu-area .gnb-box .gnb-grid dd h4:before {
  z-index: 101;
  position: absolute;
  left: 50%;
  bottom: 0;
  visibility: hidden;
  width: 0;
  height: 0;
  margin-left: -7px;
  border-bottom: 8px solid #fff;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  content: "";
}

.tour-header .menu-area .gnb-box .gnb-grid dd h4 a {
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
  color: #fff;
  height: 18px;
  line-height: 17px;
  font-size: 15px;
  font-weight: inherit;
}

.tour-header .menu-area .gnb-box .gnb-grid dd h4 a:hover {
  text-decoration: none;
  color: #fff;
}

.tour-header .menu-area .gnb-box .gnb-grid dd h4 a:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
}

.tour-header .menu-area .gnb-box .gnb-grid dd h4 a:after {
  position: absolute;
  top: 15px;
  visibility: hidden;
  width: 5px;
  height: 5px;
  margin-left: 1px;
  border-radius: 100%;
  background: yellow;
  content: "";
}

.tour-header .menu-area .gnb-box .gnb-grid dd.dJeju .sub-menu .menu {
  padding-bottom: 80px;
}

.tour-header .menu-area .gnb-box .gnb-grid dd.oTheme .sub-menu .menu {
  padding-bottom: 120px;
}

.tour-header .menu-area .gnb-box .gnb-grid dd.dAccommo .sub-menu .menu {
  padding-bottom: 100px;
}

.tour-header .menu-area .gnb-box .gnb-grid dd.eBenefit button {
  text-indent: 6px;
}

.tour-header .menu-area .gnb-box.overseas {
  width: 402px;
  box-sizing: border-box;
  padding-right: 12px;
  background: url("//openimage.interpark.com/tourpark/tour_ui/common/header/header_bg.gif") repeat-x;
}

.tour-header .menu-area .gnb-box.overseas dt {
  width: 40px;
  padding-left: 30px;
  background: url("//openimage.interpark.com/tourpark/tour_ui/common/header/header_bg_dvd.gif") no-repeat 0 center;
}

.tour-header .menu-area .gnb-box.domestic {
  width: 423px;
  box-sizing: border-box;
  background: url("//openimage.interpark.com/tourpark/tour_ui/common/header/header_bg.gif") repeat-x;
}

.tour-header .menu-area .gnb-box.domestic dt {
  width: 40px;
  padding-left: 20px;
}

.tour-header .menu-area .gnb-box.event {
  width: 155px;
}

.tour-header .menu-area .sub-menu {
  z-index: 100;
  position: absolute;
  left: 50%;
  overflow: hidden;
  white-space: nowrap;
  text-align: left;
  border: 1px solid #e25147;
  border-top: 0;
  background: #fff;
}

.tour-header .menu-area .sub-menu[aria-hidden="true"] {
  display: none;
}

.tour-header .menu-area .sub-menu h5 {
  height: 42px;
  box-sizing: border-box;
  padding: 14px 28px 0;
  font-size: 18px;
  font-family: "Noto Sans KR", "Malgun Gothic", "돋움", Dotum, Arial, Helvetica, sans-serif;
  line-height: 28px;
  color: #333;
}

.tour-header .menu-area .sub-menu .menu {
  display: inline-block;
  width: 200px;
  margin: 9px 0 15px;
  box-sizing: border-box;
  padding: 0 0 22px 30px;
  border-right: 1px dashed #e7eaec;
  white-space: normal;
  vertical-align: top;
  color: #000;
}

.tour-header .menu-area .sub-menu .menu + .menu {
  border-right: 0;
}

.tour-header .menu-area .sub-menu .menu a:hover {
  text-decoration: underline;
}

.tour-header .menu-area .sub-menu .menu > p {
  overflow: hidden;
  display: block;
  margin: 0;
  font-size: 13px;
  font-family: "Noto Sans KR", "Malgun Gothic", "돋움", Dotum, Arial, Helvetica, sans-serif;
  white-space: nowrap;
}

.tour-header .menu-area .sub-menu .menu > p:first-child {
  margin-top: 0;
}

.tour-header .menu-area .sub-menu .menu > p[data-alert="true"]:after {
  vertical-align: middle;
}

.tour-header .menu-area .sub-menu .menu > p span,
.tour-header .menu-area .sub-menu .menu > p strong,
.tour-header .menu-area .sub-menu .menu > p a {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  line-height: 19px;
}

.tour-header .menu-area .sub-menu .menu > p > a {
  float: left;
  margin-left: 6px;
  padding-left: 6px;
  background: url("//openimage.interpark.com/tourpark/tour_ui/common/header/menu_dvd.gif") no-repeat left center;
}

.tour-header .menu-area .sub-menu .menu > p > a:first-child {
  margin-left: 0;
  padding-left: 0;
  background: none;
}

.tour-header .menu-area .sub-menu .menu .emphasis {
  margin-top: 13px;
  font-weight: 500;
  color: #e25147;
}

.tour-header .menu-area .sub-menu .menu .normal {
  margin-top: 2px;
  color: #666;
}

.tour-header .menu-area .sub-menu .menu .banner {
  position: absolute;
  right: 24px;
  bottom: 11px;
  text-align: center;
}

.tour-header .menu-area .sub-menu [data-alert="true"]:after {
  display: inline-block;
  font-size: 0;
  width: 13px;
  height: 11px;
  margin-left: 3px;
  vertical-align: -1px;
  background: url("//openimage.interpark.com/tourpark/tour_ui/common/header/new.gif") no-repeat;
  content: "";
}

.tour-header .left-side-banner {
  z-index: 90;
  position: absolute;
  margin-left: -160px;
  font-size: 0;
}

/* 자동완성 */
.autoComBox, .seaQueryBox {
  z-index: 1000;
  position: absolute;
  top: 48px;
  left: -2px;
  box-sizing: border-box;
  border: 1px solid #333;
  box-shadow: rgba(0, 0, 0, 0.2) 2px 3px 3px;
  background: #fff;
}

.autoComBox [tabindex], .seaQueryBox [tabindex] {
  cursor: pointer;
}

.autoComBox [tabindex]:focus, .seaQueryBox [tabindex]:focus {
  outline: -webkit-focus-ring-color auto 5px;
}

.autoComBox {
  display: none;
  width: 420px;
  padding: 9px 0 24px;
  font-weight: 300;
  font-family: "Noto Sans KR", "Malgun Gothic", "돋움", Dotum, Arial, Helvetica, sans-serif;
  color: #000;
}

.autoComBox [aria-hidden="true"] {
  display: none;
}

.autoComBox strong {
  font-weight: inherit;
  color: #e25147;
}

.autoComBox h3:first-child + dl dt:first-child {
  margin-top: -9px;
}

.autoComBox dt {
  height: 40px;
  margin-top: 16px;
  padding: 0 18px;
  color: #000;
  font-size: 14px;
  font-weight: 500;
  line-height: 40px;
  background: #f7f7f7;
}

.autoComBox dd {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 7px 18px 0;
  font-size: 14px;
}

.autoComBox dd + dd {
  margin-top: 9px;
}

.autoComBox dd sub {
  margin-left: 8px;
  font-size: 12px;
  color: #999;
}

.seaQueryBox {
  display: none;
  width: 594px;
  height: 425px;
  font-family: "Noto Sans KR", "Malgun Gothic", "돋움", Dotum, Arial, Helvetica, sans-serif;
  font-size: 0;
  white-space: nowrap;
}

.seaQueryBox:before {
  position: absolute;
  bottom: 38px;
  left: 0;
  width: 413px;
  height: 0;
  border-top: 1px dashed #d3d3d3;
  content: "";
}

.seaQueryBox .recentWrap {
  position: relative;
  display: inline-block;
  width: 207px;
  height: 100%;
  vertical-align: top;
  font-size: 12px;
  color: #999;
}

.seaQueryBox .recentWrap h3 {
  margin-bottom: 24px;
  border-bottom: 1px solid #e8e8e8;
}

.seaQueryBox .recentWrap h3 span {
  position: relative;
  display: inline-block;
  padding: 0 9px;
  line-height: 50px;
}

.seaQueryBox .recentWrap h3 span:before {
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 2px;
  background: #333;
  content: "";
}

.seaQueryBox .recentWrap ul {
  border-right: 1px solid #e8e8e8;
}

.seaQueryBox .recentWrap li {
  box-sizing: border-box;
  padding-right: 20px;
}

.seaQueryBox .recentWrap .allDelBtn {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 147px;
  height: 18px;
  line-height: 18px;
  margin: 10px 30px;
  padding: 0;
  font-size: 12px;
  font-weight: 300;
  color: #999;
  text-align: left;
  box-sizing: border-box;
}

.seaQueryBox .hitWrap {
  position: relative;
  display: inline-block;
  width: 206px;
  height: 100%;
  vertical-align: top;
  font-size: 12px;
  color: #999;
}

.seaQueryBox .hitWrap h3 {
  margin-bottom: 24px;
  border-bottom: 1px solid #e8e8e8;
}

.seaQueryBox .hitWrap h3 span {
  position: relative;
  display: inline-block;
  padding: 0 9px;
  line-height: 50px;
}

.seaQueryBox .hitWrap h3 span:before {
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 2px;
  background: #333;
  content: "";
}

.seaQueryBox .hitWrap sub {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 147px;
  height: 18px;
  line-height: 18px;
  margin: 10px 30px;
  padding: 0;
  font-size: 12px;
  font-weight: 300;
  color: #999;
  text-align: left;
  box-sizing: border-box;
}

.seaQueryBox .hitWrap sub:before {
  position: absolute;
  top: 50%;
  left: -30px;
  width: 1px;
  height: 18px;
  margin-top: -9px;
  background: #e8e8e8;
  content: "";
}

.seaQueryBox .hitWrap li[role="option"] {
  margin: 9px 0 0 30px;
  padding-right: 60px;
}

.seaQueryBox .proWrap {
  display: inline-block;
  width: 179px;
  height: 100%;
  vertical-align: top;
  border-left: 1px solid #e9e9e9;
  box-sizing: border-box;
  background: #f7f7f7;
}

.seaQueryBox .proWrap a {
  display: block;
  height: 158px;
  margin: 0 19px 16px;
}

.seaQueryBox .proWrap .proTit {
  overflow: hidden;
  height: 32px;
  margin-top: 8px;
  line-height: 16px;
  white-space: normal;
  font-weight: 300;
  font-size: 14px;
  color: #000;
}

.seaQueryBox .proWrap .proPrice {
  margin-top: 1px;
  font-weight: 500;
  font-size: 18px;
  color: #e25147;
}

.seaQueryBox h3 {
  display: block;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  font-weight: 500;
  color: #000;
  text-align: center;
}

.seaQueryBox li {
  position: relative;
  height: 20px;
  line-height: 20px;
  margin: 9px 30px 0;
  font-size: 14px;
  font-weight: 300;
  color: #000;
}

.seaQueryBox li a {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.seaQueryBox li button {
  position: absolute;
  right: 0;
}

.seaQueryBox .state {
  position: absolute;
  top: 5px;
  right: 30px;
  width: 30px;
  line-height: 10px;
  text-align: right;
}

.seaQueryBox .state .icon {
  display: inline-block;
  width: 7px;
  height: 7px;
  vertical-align: top;
  margin: 2px 0 0 2px;
  padding-left: 0;
  background: url("//openimage.interpark.com/tourpark/tour_ui/search/sp_ranking.png") no-repeat;
  font-size: 0;
}

.seaQueryBox .state .iconUp {
  background-position: 0 0;
}

.seaQueryBox .state .iconDown {
  background-position: -7px 0;
}

.seaQueryBox .state .iconNuet {
  background-position: -14px 0;
}

.seaQueryBox .state .textNew {
  position: absolute;
  top: 0;
  right: 0;
  color: #ef3e43;
  font-size: 9px;
}

.seaQueryBox .state .rank {
  overflow: inherit;
  display: inline-block;
  width: 15px;
  vertical-align: top;
  padding-left: 0;
  color: #999;
  text-align: right;
  font-size: 10px;
}

.seaQueryBox .delBtn {
  width: 15px;
  height: 15px;
  top: 50%;
  margin-top: -7.5px;
  background: url("//openimage.interpark.com/tourpark/tour_ui/common/header/query_del.png") no-repeat;
}
