<header class="header">
    <h1 class="title">은&amp;지우 모바일 청첩장</h1>
    <button type="button" class="button-info">
        <span class="icon_smile"><span class="a11y">this web information</span></span>
    </button>
</header>
