<header class="header">
    <h1 class="title">은&amp;지우 모바일 청첩장</h1>
    <div class="timer downUp">
        <strong class="timer-title">가족이 되기까지 남은 시간</strong>
        <ol class="timer-count">
            <li class="days"><span class="number"></span><span class="unit">일</span></li>
            <li class="hours"><span class="number"></span><span class="unit">시간</span></li>
            <li class="minutes"><span class="number"></span><span class="unit">분</span></li>
            <li class="seconds"><span class="number"></span><span class="unit">초</span></li>
        </ol>
    </div>
    <button type="button" class="button-info">
        <span class="icon_smile"><span class="a11y">this web information</span></span>
    </button>
</header>
