@use "./mixin" as m;

@font-face {
    font-family: "Pretendard";
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff") format("woff");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Pretendard";
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Pretendard";
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "MapoFlowerIsland";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoFlowerIslandA.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

body,
header,
section,
footer,
h1,
div,
p,
ul,
li,
button,
figure,
figcaption,
img {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

body,
input,
button {
    @include m.fonts("m");
    font-weight: 100;
    letter-spacing: -.4px;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

button,
a {
    &:active {
        opacity: .9;
    }
}

img {
    display: block;
}

li {
    list-style: none;
}
